body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  min-height: 100vh;
  background: linear-gradient(to right, black, yellow);
  color: white;
}

.card {
  background-color: #424242;
  color: white;
}

.card-title {
  color: #fbc02d;
}

.input-field input[type="number"] {
  color: #fbc02d;
  background-color: #2e2e2e;
  border-bottom: 1px solid #fbc02d;
}

.input-field input[type="number"]::placeholder {
  color: #9e9e9e;
}

.input-field input[type="number"]:focus {
  border-bottom: 3px solid #fbc02d;
  box-shadow: 0 2px 0 0 #fbc02d;
}

label {
  color: #fbc02d;
}

/* Modal styling */
.modal-content {
  background-color: #424242;
  color: white;
}

.modal-footer .btn {
  background-color: #fbc02d;
}

.modal-footer .btn.red {
  background-color: #e53935; /* Red color for the close button */
  color: white;
}
